<%= render "groups/header", :group => @group %>

<section id="pending_talks">
  <%= form_for :talk_ids, :url => accept_talks_path, :method => :put do |f| %>
    <% @pending_talks.each do |talk| %>

      <%= f.label "talk_#{talk.id}", talk.title %>
      <%= f.check_box "talk_#{talk.id}", {}, talk.id, 0 %>

    <% end %>

    <%= f.submit t(:accept) %>
  <% end %>
</section>