<%= render "header", :group => @group %>

<%= render "groups/menu" %>

<p>
  <%= @group.description%>
</p>

<header>
  <h1><%= t(:talks) %></h1>
</header>

<%= render "talks/talks", :talks => @portfolio, :show_talker => true %>

