<nav>
  <ul>
    <li><%= link_to t(:submit_talk), new_talk_submition_path(@group) %></li>
    <li><%= link_to t(:manage_talks), edit_talk_submitions_path(@group) %></li>
    <li>
      <%= link_to t(:join_group), memberships_path(@group), :method => :post %>
    </li>
  </ul>
</nav>

<header>
  <h1><%= @group.name %></h1>
</header>

<p>
  <%= @group.description%>
</p>

<section>
  <header>
    <h1><%= t(:portfolio) %></h1>
  </header>

  <% @portfolio.each do |item| %>
    <article>
      <h1><%= item.title %></h1>
      <p><%= item.description %></p>
    </article>
  <% end %>
</section>