<!DOCTYPE html>
<html>
<head>
  <title>Talkfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="topbar-container">
  <section id="topbar">
    <div id="logo">
      <h1><%= link_to "talkfolio", root_path %></h1>
    </div>

    <nav>
      <%= render "layouts/top_menu" %>
    </nav>
  </section>
</div>

<div id="content-container">
  <section id="content">
    <div><%= flash[:notice] %></div>

    <%= yield %>
</section>
</div>

</body>
</html>
