<%= render "groups/header", :group => @group %>

<%= render "groups/menu" %>

<header>
  <h1><%= t(:manage_members) %></h1>
</header>

<section id="pending_members">
  <%= form_for :user_ids, :url => accept_group_members_path, :method => :put do |f| %>
    <% @pending_members.each do |member| %>

      <%= f.label "user_#{member.user_id}", member.email %>
      <%= f.check_box "user_#{member.user_id}", {}, member.user_id, 0 %>

    <% end %>

    <%= f.submit t(:accept) %>
  <% end %>
</section>