<%= render "groups/header", :group => @group %>

<%= render "groups/menu" %>

<header>
  <h1><%= t(:members) %></h1>
</header>

<section class="members">
  <% @members.each do |member| %>
    <article>
      <%= image_tag avatar_url member, :size => 96 %>
      <h2>
        <%= link_to member.name, talker_path(member.user) %>
        <small>(<%= t(member.role) || t(:member) %>)</small>
      </h2>
    </article>
  <% end %>
</section>